html, body {
    height: 100%;words to boost your day
    margin: 0;
  }
  
  body {
    background-color: #A52A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
  }
  
  .container {
    text-align: center;
  }
  @keyframes pop-out {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(3);
    }
  }
  
  .smiley {
    display: inline-block;
    animation: smiley-pop-out 1s ease-out;
    font-size: 8rem;
  }

  .affirmation {
    animation: pop-out 2s ease-out;
    animation-fill-mode: forwards;
    font-weight:200
  }

  #showAffirmationButton {
    background-color: aqua;
    color:black;
    border-radius: 25px;
    border-bottom: black;
    font-weight: 300;
  }