html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  @keyframes pop-out {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(3);
    }
  }
  
  .affirmation {
    animation: pop-out 2s ease-out;
    animation-fill-mode: forwards;
    font-weight:200
  }